.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    border: none;
    background-color: skyblue;
    width: 60px;
    height: 30px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 80px;
}